<nav>&nbsp;
    <button type="button" class="btn btn-primary btn-sm" routerLink="databinding">Data Binding</button>&nbsp;
    <button type="button" class="btn btn-primary btn-sm" routerLink="directive">Directive</button>&nbsp;
    <button type="button" class="btn btn-primary btn-sm" routerLink="toggleimage">Toggle Image</button>&nbsp;
    <button type="button" class="btn btn-primary btn-sm" routerLink="angForm">AngForm</button>&nbsp; 
    <button type="button" class="btn btn-danger btn-sm" routerLink="myPipe">myPipe</button> &nbsp;
    <button type="button" class="btn btn-info btn-sm" routerLink="service-data">Service Data</button>&nbsp;
    <button class="btn btn-primary btn-sm" routerLink="crud">CRUD</button>&nbsp;

    <button class="btn btn-danger btn-sm" style="float: right;" (click)="logout()">Logout</button>
</nav>
